.completed {
  text-decoration: line-through;
  color: #797979;
}

.novalue {
  color: #b7b7b7;
}


.col-id {
  width: 5%;
  text-align: center;
}
.col-inv {
  width: 10%;
  text-align: center;
}
.col-date {
  width: 15%;
  text-align: center;
}
.col-article {
  width: 10%;
  text-align: center;
}
.col-title {
  width: 50% !important;
}
.col-operations {
  width: 10%;
}

.delete-icon {
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.edit-icon {
  cursor: pointer;
  color: #9A9A9A;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.mat-header-cell {
  font-size: 1.063rem;
  /*color: #9c27b0 !important;*/
  font-weight: normal;
}

