<h2>База Эталонов СПО</h2>
<!--<pre>{{allSoft | json}}</pre>-->
<!--<div class="report-table-container mat-elevation-z8">-->
<!--  <h2 class="title-1 m-b-25">The best football clubs of Europe</h2>-->
<!--  <table border="1" cellpadding="5" class="table">-->
<!--    <tr>-->
<!--      <th class="th">ID</th>-->
<!--      <th class="th">NUM</th>-->
<!--      <th class="th">Date</th>-->
<!--      <th class="th" >Article</th>-->
<!--      <th class="th">Title</th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let item of allSoft; let i=index" class="td">-->
<!--      <ng-container>-->
<!--        <td class="td">{{item.id}}</td>-->
<!--        <td class="td">{{item.inv}}</td>-->
<!--        <td class="td">{{item.date}}</td>-->
<!--        <td class="td">{{item.article}}</td>-->
<!--        <td class="td">{{item.title}}</td>-->
<!--      </ng-container>-->

<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-menu></app-menu>
    </div>
    <div class="col-9">
      <app-page
        (addSoft)="onAddSoft($event)"
        (updateSoft)="onUpdateSoft($event)"
        (deleteSoft)="onDeleteSoft($event)"
        [soft]="allSoft"></app-page>
    </div>
  </div>
</div>




