<div class="main-content">
  <div class="section__content section__content--p30">
    <h1>База Эталонов СПО</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <app-menu
            (dateFilterOut)="dateFilter($event)"
          ></app-menu>
        </div>
        <div class="col-6">
          <app-statistica [statArray]="statisticsArray"></app-statistica>
        </div>
      </div>
        <div class="row">
          <div class="col-12">
            <app-page
              (addSoft)="onAddSoft($event)"
              (updateSoft)="onUpdateSoft($event)"
              (deleteSoft)="onDeleteSoft($event)"
              [soft]="allSoft"></app-page>
          </div>
        </div>
    </div>
  </div>
</div>





